<a href="https://colab.research.google.com/github/Guillermo2468/Computo-en-la-Nube/blob/main/1.2%20Comando%20en%20R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [14]:
%%R
# this is my first R script
print(3 + 4)

[1] 7

In [15]:
%%R
a <- 2 # height
b <- 4 # length
C <-
a *
b
C -> variable
print(
"area: ", variable
)

[1] "area: "

In [16]:
%%R
print("A")
{
print("B")
print("C")
}

[1] "A"
[1] "B"
[1] "C"

In [17]:
%%R
flag <- TRUE
if (flag) print("Hello!")

[1] "Hello!"

In [18]:
%%R
if (TRUE) print("Hello!")

[1] "Hello!"

In [19]:
%%R
printing <- TRUE
if (printing) {
print("A")
print("B")
}

[1] "A"
[1] "B"

In [20]:
%%R
a <- 10.0
if (a < 0.0) print("'a' is negative") else print("'a' is not negative")
print("This is always printed")

[1] "'a' is not negative"
[1] "This is always printed"

In [21]:
%%R
a <- 1
if (a < 0.0) {
print("'a' is negative")
} else {
print("'a' is not negative")
}

[1] "'a' is not negative"

In [22]:
%%R
a <- 1
my.message <-
if (a < 0.0) "'a' is negative" else "'a' is not negative"
print(my.message)

[1] "'a' is not negative"

In [23]:
%%R
if (0) print("hello")
if (-1) print("hello")
if (0.01) print("hello")
if (1e-300) print("hello")
if (1e-323) print("hello")
if (1e-324) print("hello")
if (1e-500) print("hello")
if (as.logical("true")) print("hello")
if (as.logical(as.numeric("1"))) print("hello")
if (as.logical("1")) print("hello")
if ("1") print("hello")

[1] "hello"
[1] "hello"
[1] "hello"
[1] "hello"
[1] "hello"
[1] "hello"

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: Error in if (as.logical("1")) print("hello") :
  missing value where TRUE/FALSE needed

Error in if (as.logical("1")) print("hello") :
  missing value where TRUE/FALSE needed

In [24]:
%%R
a <- 1:10
ifelse(a > 5, 1, -1)
ifelse(a > 5, a + 1, a - 1)
ifelse(any(a > 5), a + 1, a - 1) # tricky
ifelse(logical(0), a + 1, a - 1) # even more tricky
ifelse(NA, a + 1, a - 1) # as expected

[1] NA

In [25]:
%%R
ifelse(TRUE, 1:5, -5:-1)
ifelse(FALSE, 1:5, -5:-1)
ifelse(c(TRUE, FALSE), 1:5, -5:-1)
ifelse(c(FALSE, TRUE), 1:5, -5:-1)
ifelse(c(FALSE, TRUE), 1:5, 0)

[1] 0 2

In [26]:
%%R
a <- -10:-1
b <- +1:10
c <- c(rep("a", 5), rep("b", 5))

In [27]:
%%R
a <- c(1, 4, 3, 6, 8)
for(x in a) {print(x*2)} # print is needed!

[1] 2
[1] 8
[1] 6
[1] 12
[1] 16

In [28]:
%%R
b <- for(x in a) {x*2}
b

b <- numeric()
for(i in seq(along.with = a)) {
b[i] <- a[i]^2
print(b)
}

b

b <- numeric(length(a))
for(i in seq(along.with = a)) {
b[i] <- a[i]^2
print(b)
}

b

b <- a^2
b

[1] 1
[1]  1 16
[1]  1 16  9
[1]  1 16  9 36
[1]  1 16  9 36 64
[1] 1 0 0 0 0
[1]  1 16  0  0  0
[1]  1 16  9  0  0
[1]  1 16  9 36  0
[1]  1 16  9 36 64
[1]  1 16  9 36 64

In [29]:
%%R
b <- numeric(length(a))
for(i in seq(along.with = a)) {
b[i] <- a[i]^2
}
print(b)
c <- numeric(length(a))
for(i in 1:length(a)) {
c[i] <- a[i]^2
}
print(c)

[1]  1 16  9 36 64
[1]  1 16  9 36 64

In [30]:
%%R
a <- 2
print(a)
while (a < 50) {
print(a <- a^2)
}

[1] 2
[1] 4
[1] 16
[1] 256

In [31]:
%%R
system.time({a <- numeric()
for (i in 1:1000000) {
a[i] <- i / 1000
}
})

   user  system elapsed
  0.388   0.039   0.453

In [32]:
%%R
set.seed(123456) # so that a.vector does not change
a.vector <- runif(6) # A short vector as input to keep output short
str(a.vector)

 num [1:6] 0.798 0.754 0.391 0.342 0.361 ...

In [33]:
%%R
z <- sapply(X = a.vector, FUN = function(x, k) {log(x) + k}, k = 5)
str(z)

 num [1:6] 4.77 4.72 4.06 3.93 3.98 ...

In [34]:
%%R
set.seed(123456)
a.list <- lapply(rep(4, 5), rnorm, mean = 10, sd = 1)
str(a.list)

List of 5
 $ : num [1:4] 10.83 9.72 9.64 10.09
 $ : num [1:4] 12.3 10.8 11.3 12.5
 $ : num [1:4] 11.17 9.57 9 8.89
 $ : num [1:4] 9.94 11.17 11.05 10.06
 $ : num [1:4] 9.26 10.93 11.67 10.56

In [35]:
%%R
my.data <- data.frame(x = 1:10, y = 1:10 + rnorm(10, 1, 0.1))
results <- list()
models <- list(linear = y ~ x, linear.orig = y ~ x - 1, quadratic = y ~ x + I(x^2))
for (m in names(models)) {
results[[m]] <- lm(models[[m]], data = my.data)
}
str(results, max.level = 1)

List of 3
 $ linear     :List of 12
  ..- attr(*, "class")= chr "lm"
 $ linear.orig:List of 12
  ..- attr(*, "class")= chr "lm"
 $ quadratic  :List of 12
  ..- attr(*, "class")= chr "lm"

In [36]:
%%R
x <- rnorm(10)
results <- numeric()
fun.names <- c("mean", "max", "min")
for (f.name in fun.names) {
results[[f.name]] <- do.call(f.name, list(x))
}
results

      mean        max        min
-0.4069668  1.5600738 -2.7488684